{% extends 'base.html' %}
{% block content %}
<h1 class="page-title">Metodología</h1>

<!--<p class="intro-text">Dónde van mis impuestos se ha levantado sobre dos piezas: la primera es un parser que recorre las páginas publicadas por el Ministerio de Hacienda y Administraciones Públicas, extrae la información que queremos tratar y la convierte en reutilizable. Sobre esta parte trabaja la segunda pieza del proyecto, una web que lee esos presupuestos en formato abierto y los visualiza.</p>
-->
<div class="article">

  <h2>Extracción de datos</h2>
  
  <p>Los Presupuestos de la Ciudad de Buenos Aires se encuentran disponibles en el portal <a href="http://data.buenosaires.gob.ar/">Buenos Aires Data</a> del Gobierno de la Ciudad Autónoma de Buenos Aires (CABA), de dónde se pueden descargar en formato CSV (<i>comma separated values</i>). Se han utilizado, tanto los datos de presupuesto sancionado, que representan la ley presupuestaria aprobada por el gobierno para cada año, como los datos del presupuesto ejecutado, es decir, el gasto real calculado al cuarto cuatrimestre del correspondiente año.

  <p>El presupuesto para gastos se ha tomado de dichos CSVs de los que se han seleccionado las siguientes clasificaciones: 
      <ul>
        <li><b>NATURALEZA</b> (finalidad y función</li>
        <li><b>JURISDICCIONAL</b> (quién realiza el gasto)</li>
        <li><b>FINANCIAMIENTO</b> (cómo se financia ese gasto)</li>
        <li><b>ECONÓMICO</b> (categorización económica del gasto)</li>
      </ul>
  
  <p>Para poder contraponer los gastos a los recursos (ingresos realizados) se han obtenido los datos de los recursos obtenidos por el Gobierno de su página de <a href="http://www.buenosaires.gob.ar/hacienda/presupuesto/estadistica-presupuestaria"> Estadística Presupuestaria</a>, utilizando, en este caso, solamente la clasificación <b>ECONÓMICA</b> de dichos recursos.</p>

  <p>La aplicación ¿Dónde van mis impuestos? requiere de un formato CSV específico de entrada tanto de gastos y recursos (sancionados y ejecutados), como de las clasficiaciones presupuestarias empleadas. El código para extraer dichos archivos a partir de los CSVs proporcionados por el Gobierno se incluye también el <a href="https://github.com/malon/presupuesto">código</a> del proyecto. Así como una explicación sobre el proceso de carga y actualización de nuevos datos.</p>

  <p>Los gastos de ejecución del año en curso aparecerán en blanco ya que no se conocerán hasta el cierre del año, en cuanto a los datos ejecutados (reales) de los recursos (ingresos realizados) aparecen también a 0 ya que se han tomado los datos disponibles por datos teóricos (presupuestados).</p>


  <h2>Presentación de los datos</h2>
  <p>La página web está desarrollada en Python (Django) y es una adaptación de la que David Cabo (<a href="http://twitter.com/dcabo" target="_blank">@dcabo</a>) realizó para el <a href="http://presupuesto.aragon.es/" target="_blank">Gobierno de Aragón</a> con el diseño de <a href="http://lapersonnalite.com" target="_blank">La Personnalité</a>, y <a href="http://www.civio.es/">La Fundación ciudadana Civio</a> realizó posteriormenete para los presupuestos generales de España y otras comunidades autónomas. Todas las visualizaciones están hechas con la librería D3 de javascript. El código del presente proyecto está disponible en <a href="https://github.com/malon/presupuesto" target="_blank">Github</a>.</p>


  <h2 id="credits">Agradecimientos</h2>

  <p>Esta versión de ¿Dónde van mis Impuestos? para CABA ha sido llevada a cabo por Marta Alonso (<a href="http://twitter.com/malonfe" target="_blank">@malonfe</a>) en colaboración con el equipo de <a href="http://www.lanacion.com.ar/data">La Nación Data</a> y en especial de:
  <ul>
    <li><strong>Momi Peralta</strong> (<a href="http://twitter.com/momiperalta" target="_blank">@momiperalta</a>) por su gestión, sus aportaciones y su impulso para sacar el proyecto adelante.</li>
    <li><strong>Gaby Bouret</strong> (<a href="http://twitter.com/gabybouret" target="_blank">@gabybouret</a>) por su conocimiento presupuestario y su contribución a desenmarañar y obtener todos los datos necesarios.</li>
    <li><strong>Cristian Bertelegni</strong> (<a href="http://twitter.com/cbertelegni" target="_blank">@cbertelegni</a>) por pegarse con los sistemas y ayudar en el despliegue.</li>    
  </ul>
  A todos ellos, y al resto del fantástico equipo, ¡gracias!.
  </p>

  <p>También quiero agradecer a <strong>David Cabo</strong> (<a href="http://twitter.com/dcabo" target="_blank">@dcabo</a>), el autor del proyecto original, por su ayuda y soporte durante el desarrollo del mismo.</p>

  <p>Y por último, pero no menos importante, quiero agradecer al equipo del <a href="http://data.buenosaires.gob.ar/about">Laboratorio de Datos</a> del Gobierno de la Ciudad de Buenos Aires <a href="https://twitter.com/LABgcba">(@LABgcba)</a> por su inestimable colaboración, y en especial a <b>Natalia Sampietro</b> por aguantar nuestras incesantes preguntas y por su total disposición y paciencia.


  <h3>Créditos de imágenes</h3>
  <ul>
    <li>Fondo de cabecera: <a href="http://www.flickr.com/photos/29638083@N00/3248212758/">Buenos Aires Panorama</a>, por <a href="https://www.flickr.com/people/29638083@N00" target="_blank">Luis Argerich</a> (modificada)</li>   
  </ul>

</div>

{% endblock %}