<section class="data-sources box" role="region">
  <div class="box-title">
    <h3>{{ _('Fuentes de datos') }}</h3>
  </div>
  <div class="box-content">
    <ul class="source-list">
      <li><a href="http://data.buenosaires.gob.ar/dataset#query=presupuesto" target="_blank">Datos presupuestarios (gastos) · <b>Buenos Aires Data</b></a></li>
      <li><a href="http://www.buenosaires.gob.ar/hacienda/presupuesto/estadistica-presupuestaria" target="_blank">Datos presupuestarios (recursos) · <b>Página de Estadística Presupuestaria - Ministerio de Hacienda GCBA</b></a></li>
      <li><a href="http://www.estadisticaciudad.gob.ar/eyc/?p=47439" target="_blank">Datos de población (Censo Nacional 2010) · <b>Dirección General de Estadística y Censos - Ministerio de Hacienda GCBA</b></a></li>
      <li><a href="http://www.estadisticaciudad.gob.ar/eyc/?cat=124" target="_blank">Datos de inflación (Medias anuales del Índice de Precios al Consumidor – IPCBA) · <b>Dirección General de Estadística y Censos - Ministerio de Hacienda GCBA.</b></a></li>
    </ul>
    <div class="alert inline-block note">
      <p class="title tupper">{{ _('Nota') }}</p>
      <ul        
        <li>El ajuste de la inflación se realiza a <b>1 de enero de {{ last_inflation_year }}</b>. La tasa de inflación anual es la media de la tasa interanual de los doce meses del año.</li>     
      </ul>
    </div>
  </div>
</section>