<footer role="contentinfo">
  <div class="feder">
    <!--<div class="container-fluid">
      <a href="http://www.aragon.es/DepartamentosOrganismosPublicos/Departamentos/HaciendaAdministracionPublica/AreasTematicas/FondosEuropeos"><img src="{{ STATIC_URL }}assets/unionEuropea.gif" alt="Fondo Europeo de Desarrollo Regional (FEDER)"></a>
    </div>-->
  </div>
  <div class="footer-corp">
    <div class="container-fluid">
      <div class="row-fluid">
        <!--
        
-->

        <div class="span5">
          <p class="legal-text">
            <a href="{{ url('budget_app.views.metodologia') }}">¿Cómo se hizo?</a> <span class="bar">|</span> <a href="{{ url('budget_app.views.metodologia') }}#credits">Agradecimientos</a><br/>
            Un proyecto de <a href="https://twitter.com/malonfe" target="_blank">@malonfe</a> <br>en colaboración con <a href="http://www.lanacion.com.ar/data" target="_blank">La Nación Data</a>
            <a href="http://www.lanacion.com.ar/">(LA NACION S.A.)</a> 
          </p> 
        </div>
        <!--
        <div class="span5">
          <p class="header-logo"><span>Basado en el código de </span><a href="http://opendata.aragon.es/" target="_blank"><img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón"></a></p>
        </div>
-->
      <div class="span7">
          <p class="footer-logo">
            <span>Basado en el código de</span>
            <a href="http://www.civio.es/es" target="_blank"><img src="{{ STATIC_URL }}assets/logo-civio.png" alt="Civio"></a>
            <span>&nbsp;&nbsp;y de </span>
            <a href="http://opendata.aragon.es" target="_blank"><img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón"></a>
          </p>
        </div>
        
      </div>
    </div>
  </div>
</footer>
