<meta name="description" content="Sitio web para mostrar información relativa a los presupuestos de la Ciudad Autónoma de Buenos Aires">
<meta name="keywords" content="presupuestos, gastos, ingresos, gobierno, Aragón">
<meta name="author" content="La Nación Data and @malonfe">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="Dónde van mis impuestos - Buenos Aires" />
<meta property="og:description" content="Información sobre los Presupuestos de la Ciudad Autónoma de Buenos Aires" />
